.kurzy
    h2
        margin-right: 12px

    .image
        height: 160px

        img
            object-fit: cover
            object-position: center

    ul
        padding-left: 32px

        li
            list-style-type: circle

    .admin-actions
        border-radius: 50%
        padding: 8px 9px 7px 13px
        left: -4px
        top: -18px
        background-color: $accent

        i
            color: #FAFAFA

    .new-item
        font-size: 5em


